* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .events-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.events-hexagon {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px 20px 70px;
}

.events-hexagon::before {
    content: "";
    position: absolute;
    bottom: -70%;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0, 0, 0, 0.15), transparent);
    border-radius: 50%;
    transition: 0.5s;
}

.events-hexagon:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}

.events-hexagon .shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
}

.events-hexagon:hover .shape {
    transform: translateY(-30px);
}

.events-hexagon .shape img {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    transition: 0.5s;
}

.events-hexagon .shape .events-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0.5));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.events-hexagon:hover .shape .events-content {
    opacity: 1;
}

.swiper-container {
    width: 480px;
}

.swiper-slide {
    width: 300px;
}

@media screen and (min-width: 390px) {
    .swiper-container {
        width: 390px;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
}

@media screen and (min-width: 1222px) {
    .swiper-container {
        width: 1222px;
    }
}

.swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide.swiper-slide-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.events {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    flex-wrap: wrap;
}

.events-heading {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}



.events-btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.events-btn:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

.events-btn span {
    position: absolute;
    display: block;
}

.events-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.events-btn span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(1800deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.events-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(1800deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.events-btn span:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(1800deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.events-btn:nth-child(3) {
    filter: hue-rotate(110deg);
}