.footer-body {
    display: flex;
    min-height: 100vh;
    background: black;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.footer-cont {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 71px;
}

.footer-cont .social-icons,
.footer-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footer-cont .social-icons li,
.footer-menu li {
    list-style: none;
}

.footer-cont .social-icons li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer-cont .social-icons li a:hover {
    transform: translateY(-10px);
}

.footer-menu li a {
    font-size: 0.9em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.footer-menu li a:hover {
    opacity: 1;
}

.footer-cont p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
}

.footer-cont .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}

.footer-cont .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

.footer-cont .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

.footer-cont .wave#wave3 {
    z-index: 999;
    opacity: 0.2;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
}

.footer-cont .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

.footer-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-card {
    width: 269px;
    height: 375px;
    margin: 10px;
    /* margin-bottom: 81px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.footer-card ul li {
    list-style: none;
    margin: 10px 0;
    color: #c4bebe;
    font-size: 14px;
}

.footer-card h3 {
    color: #fff;
    font-size: 1.5em;
    /* margin-bottom: 20px; */
}

.footer-card ul li a {
    text-decoration: none;
    color: #c4bebe;
}