@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.smallNav {
    display: none;
}
.navBar{
    position: fixed;
    /* width: 770px; */
    width: 70vw;
    margin: 0% auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 57px;
    bottom: 20px;
    /* background: rgba(0,0,0); */
    background: transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 5px;
    z-index: 1000;
    /* width: 75vw; */
    padding-top: 15px;
}
.navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center;
    width: 90vw; */
    width: 70vw;
}
ul {
    padding-left: 0px !important;
}
/* .logo {
    width: 45px;
    object-fit: contain;
    margin: 10px;
} */
.navBar a{
    color: #FFFFFF !important;
    text-decoration: none;
}
.items a{
    font-size: 16px;
    padding: 10px;
}
.items{
    justify-content: space-around;
    padding-inline: 10px;
    align-items: center;
    display: flex;  
    justify-items: center ;
    font-family: 'Rubik', sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    /* font-size: 1.2vw; */
    color: white;
    /* border: none;
    width: 11vw;
    height: fit-content;
    margin: auto;
    margin-left:2vw;
    background-color: transparent; */
}
/* .items .items {
    align-items: center;
    justify-content: center;
} */
/* .items #text{
    text-align: center;
}
.items button{
    height: fit-content !important;
    margin: auto;
} */

button.items{
    background-color: transparent;
    border: transparent;
}
/* .dropup{
    position: absolute;
    left: 50%;
    top: -20px !important;
} */
.dropdown.false {
    display: none;
}
.dropdown.true {
    display: block;
    position: absolute;
    width: 160px;
    padding: 10px;
    /* height: 175px; */
    bottom: 80px;
    color: #FFFFFF;
    align-items: center;
    text-align: Left;
    box-sizing: border-box;
    /* background: rgba(0,0,0,0.75); */
    background: transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    /* border: 1px solid #570080; */
    border-radius: 5px;
}
.subitems {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 90%;
    padding-left: 10px !important;
}
.subitems a {
    font-size: 15px;
}
.subitems a:hover {
    font-size: 16px;
}
.dropup{
    position: absolute;
    top: -2.5px !important;
    align-self: center;
    /* width: fit-content; */
}
.items :hover {
    font-size: 17px;
}
/* .subitems :hover {
    font-size: 16px;
} */

/* .navItems :hover {
    background: rgba(87, 0, 128, 0.5);
    border-radius: 5px;
} */
@media screen and (max-width: 1200px) {
    .items a{
        font-size: 15px;
    }
    button.items{
        font-size: 15px !important;
    }
    .items :hover {
        font-size: 16px;
    }
}
@media screen and (max-width: 1080px) {
    .items a{
        font-size: 14px;
        padding-inline: 5px;
    }
    button.items{
        font-size: 14px !important;
        padding-inline: 5px;
    }
    .items :hover {
        font-size: 16px;
    }
}
@media screen and (max-width:900px) {
    .items a{
        font-size: 14px;
        padding: 2px !important;
    }
    button.items{
        font-size: 14px !important;
        padding: 2px !important;
    }
    .items :hover {
        font-size: 15px;
    }
    .subitems {
        padding: 10px;
    }
}
@media screen and (max-width: 835px) {
    .navBar{
        width: 50px;
        bottom: 15px;
        height: 50px;
        padding-top: 0%;
    }
    .navItems {
        display: none;
    }
    .smallNav{
        display: block;
        width: fit-content;
    }
    .menu{
        padding: 10px;
        width: fit-content;
        background-color: transparent;
        border: none;
    }
    .menu svg{
        width: 10vw;
        background-color: transparent;
        color: #FFFFFF;
    }
    .menuItems{
        box-sizing: border-box;
        position: absolute;
        bottom: 80px;
        width: 140px;
        margin: 0% auto;
        left: 0;
        right: 0;
        left:-45px;
        padding: 10px;
        /* background: rgba(0, 0, 0, 0.75); */
        background: transparent;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
        border-radius: 5px;
    }
    .itemsmob{
        justify-content: space-around;
        text-align:left;
        align-items: center;
        justify-items: center ;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        color: #FFFFFF;
        width: fit-content;
        background-color: transparent;
        border: none;
    }
    .menuItems a{
        font-size: 17px;
        padding: 10px;
        padding-left: 5px;
    }
    button.itemsmob{
        font-size: 17px;
        padding: 10px;
        padding-left: 0px;
    }
    button.itemsmob {
        display: flex;
        flex-direction: row;
    }
    .dropupmob{
        position: absolute;
        right: 5px;
    }
    .dropdownmob.false {
        display: none;
    }
    .dropdownmob.true {
        display: block;
        position: absolute;
        margin-left: 140px;
        width: 130px;
        padding: 10px;
        /* height: 175px; */
        bottom: 150px;
        color: #FFFFFF;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.75);
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
        border-radius: 5px;
    }
    .subitemsmob {
        font-family: 'Rubik', sans-serif;
        font-size: 15px !important;
        font-style: normal;
        font-weight: 500;
        width: fit-content;
        text-align: left;
        padding-left: 10px !important;
    }
    .subitemsmob a{
        width: fit-content;
        font-size: 15px !important;
    }
    .itemsmob :hover {
        font-size: 18px;
    }
    .subitemsmob a :hover {
        font-size: 16px;
    }
}