@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.topBar{
    /* height: 80px; */
    width: 100vw;
    position: absolute;
    left:0;
    right: 0;
    flex-wrap:nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    /* margin: 15px; */
    margin-top: 3vh;
    z-index: 1000;
}

.topBar a, .topBar a:hover, .topBar a:visited{
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

.logoTop{
    width: 110px;
    padding: 0;
}
.account {
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
}
.signup-topbar{
    padding-inline: 1vw;
    box-sizing: border-box;
    background: linear-gradient(117.5deg, rgba(255, 255, 255, 0.15) -69.92%, rgba(255, 255, 255, 0.17) -69.92%, rgba(255, 255, 255, 0.21) -69.9%, rgba(255, 255, 255, 0.13) -48.83%, rgba(255, 255, 255, 0.09) 82.65%);
    border: 1px solid #FFFFFF;
    box-shadow: 3.99722px -3.99722px 23.9833px -0.999306px rgba(24, 30, 97, 0.2);
    backdrop-filter: blur(19.9861px);
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}

/* @media screen and (max-width: 400px) {
    .logoTop{
        width: 20vw;
    }
    .topBar a{
        font-size: 4vw;
    }
} */
@media screen and (max-width: 750px) {
    .logoTop{
        width: 90px;
    }
    .topBar a{
        font-size: 16px;
    }
}
@media screen and (max-width: 550px) {
    .logoTop{
        width: 80px;
    }
    .topBar a{
        font-size: 15px;
    }
    .account{
        width: 100px;
    }
}