*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-box{
  background-color: #0f044c;
  height: fit-content;
}

.second-box{
  background-color: #0f044c;
  height: 60vh;

}

.third-box{
  background-color: #787A91;
  height: fit-content;
}

.fourth-box{
  background-color: #787A91;
  height: fit-content;
  margin-top: 0px;
}

.content2{
  background-color: #787A91;
  color: #EEEEEE;
}

.content2 p{
  padding: 8vh;
  text-align: justify;
  font-size: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.content1 p{
  padding: 8vh;
  text-align: justify;
  font-size: 3vh;
  color: #EEEEEE;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* .App{
  content: '';
    background-image: url('../src/images/i4.png');
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-size: cover;
    opacity: 0.65;
} */

.and{
  color: #787A91;
  font-size: larger;
}

.seminar{
  color: #EEEEEE;
  font-size: larger;
}

.headers{
  color: #3b4abf;
  font-size: 9vh;
}

.title{
  margin: auto;
  width: fit-content;
}

.title1{
  margin: auto;
  width: fit-content;
}

.partners_logo{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.workshop_pics{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.exhibition_pics{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.partners_logo img{
height: 30vh;
box-shadow: 1px 1px 15px rgb(189, 189, 189);
padding: 10px;
border-radius: 3% / 40px;
}

.workshop_pics img{
height: 43vh;
box-shadow: 1px 1px 8px rgb(230, 225, 225);
padding: 10px;
border-radius: 1vh;
}

.exhibition_pics img{
height: 43vh;
box-shadow: 1px 1px 8px rgb(230, 225, 225);
padding: 10px;
border-radius: 1vh;
}

.i1{
  width: 470px;

}

.envelope_parent{
  height: 163.5vh;
  overflow: hidden;
	background-color: #0f044c;
}

.envelope{
  --i: 30px;
  width: 42%;
  min-height: 30vh;
  height: 100vh;
  /* background-color: #EEEEEE; */
  border: 4px solid #fff;
  background-color: #141E61;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.envelope::before{
  content: 'SHAASTRA 2023';
  min-height: 50vh;
  height: 50vh;
  text-align: center;
  padding: 40px 0px;
  width: 100%;
  position: absolute;
  top: 48.5%;
  border: 4px solid #fff;
  /* background-color: #EEEEEE; */
  background-color: #141E61;
  z-index: 3;
  color: #EEEEEE;
  font-size: 9vh;
  line-height: 50vh;
}

.card1, .card2, .card3, .card4{
  --i: 30px;
  background: linear-gradient(150deg, #EEEEEE,#EEEEEE, #787A91, #EEEEEE);
  color: #000;
  min-height: 50vh;
  height: fit-content;
  width: 40vw;
  padding: 30px;
  border: 2px solid rgb(255, 247, 225);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  text-align: justify;
  transition: all 1.5s ease-in-out 0.2s;
}

.card1{
  transform: translateY(calc(var(--i)*(13)))
}
.card2{
  transform: translateY(calc(var(--i)*(4)));
}
.card3{
  transform: translateY(calc(var(--i)*(-5)));
}
.card4{
  transform: translateY(calc(var(--i)*(-14)));
}

.card1:hover{
  transform: translateY(calc(var(--i)*(9)));
}

.card2:hover{
  transform: translateY(calc(var(--i)*(-1)));
}

.card3:hover{
  transform: translateY(calc(var(--i)*(-10)));
}

.card4:hover{
  transform: translateY(calc(var(--i)*(-21)));
}

@media screen and (max-width : 1200px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: row;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: row;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: row;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
@media screen and (max-width : 900px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: column;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: column;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: column;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
@media screen and (max-width : 400px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: column;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: column;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: column;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
