.password-alert {
  margin-bottom: 20px;
  color: white;
}

#log-out {
  margin-top: 20px;
}

#forgot-pwd {
  margin-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

#forgot-pwd:hover {
  color: yellow;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #forgot-pwd {
      margin-bottom: 9.6px;
      color: white;
      font-weight: 400;
    }
  #forgot-pwd:hover {
    color: yellow;
    cursor: pointer;
  }
}

h2 {
  color: white;
}

@font-face {
  font-family: 'PT Sans';
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap')
}

.container-blur {
  left: 0;
  top: 0;
  box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
  backdrop-filter: blur(20px);
  width: 100%;
}

.navbar-overlay-container {
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.6;
}

.navbar-container {
  width: 100%;
  background: linear-gradient(165.87deg, rgba(255, 255, 255, 0.13) -40.71%, rgba(255, 255, 255, 0.21) -40.7%, rgba(255, 255, 255, 0.201935) 0.18%, rgba(255, 255, 255, 0.17) 0.19%, rgba(255, 255, 255, 0.12) 119.51%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  padding: 10px;
}

.navbar-font {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  mix-blend-mode: overlay;
  color: #FFFFFF;
  margin: 0px;
}

.navbar-events {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  justify-content: space-around;
  padding-inline: 30px;
}

.navbar-image-container {
  margin-inline: 25px;
  margin-right: 90px;
}

.navbar-hamburger-container {
  margin-inline: 25px;
  margin-left: 80px;
  margin-right: 25px;
  mix-blend-mode: overlay;
}

@media screen and (max-width: 1232px) {
  .navbar-container {
    width: 100%;
    background: linear-gradient(165.87deg, rgba(255, 255, 255, 0.13) -40.71%, rgba(255, 255, 255, 0.21) -40.7%, rgba(255, 255, 255, 0.201935) 0.18%, rgba(255, 255, 255, 0.17) 0.19%, rgba(255, 255, 255, 0.12) 119.51%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    padding: 10px;
    flex-direction: column;
  }

  .navbar-events {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    justify-content: space-around;
  }

  .navbar-image-container {
    margin-inline: 25px;
  }

  .navbar-hamburger-container {
    margin-inline: 25px;
    mix-blend-mode: overlay;
  }
}

.second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (max-width: 400px) {
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .events-workshops-filter {
    border-color: #cdcdcd;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .add-event-container {
    background: radial-gradient(95.22% 1377.16% at 4.78% 18.18%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0.5) 100%);
    border-color: #FFFFFF;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px; 
  }

  .third-row-buttons {
    align-self: center;
  }
}

.events-workshops-filter {
  margin-left: 20px;
  border-color: #cdcdcd;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-filter-text {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}

.add-event-container {
  background: radial-gradient(95.22% 1377.16% at 4.78% 18.18%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0.5) 100%);
  margin-inline: 20px;
  border-color: #FFFFFF;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-event {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
}

.add-event-container:hover {
  background-color: yellowgreen;
  cursor: pointer;
}

.events-workshops-filter:hover {
  color: #000000;
  background-color: #cdcdcd;
}

.main-filter-text:hover {
  color: #000000;
}

.third-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (max-width: 579px) {
  .third-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .sub-filter {
    margin-right: 20px;
    border-color: #cdcdcd;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}

.search-container {
  background-color: #FFFFFF;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  flex-grow: 2;
  margin-right: 20px;
  padding: 1.5px;
  padding-inline: 15px;
  border-radius: 50px;
  font-size: 1.2em
}

#search {
  min-width: 90%;
  padding: 8px;
  align-self: flex-end;
}

input[type="text"] {
  outline: none;
  border: none;
}

.sub-filter {
  margin-right: 20px;
  border-color: #cdcdcd;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-filter:hover {
  background-color: #cdcdcd;
}

.item-grid {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  grid-template-columns: repeat(3, minmax(98px, 1fr));
}

@media screen and (max-width: 1092px) {
  .item-grid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    grid-template-columns: repeat(2, minmax(98px, 1fr));
  }
}

@media screen and (max-width: 1092px) {
  .item-grid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, minmax(98px, 1fr));
  }
}

.events-card {
  background: radial-gradient(97.44% 7345.3% at 1.07% 9.27%, rgba(217, 217, 217, 0.35) 0%, rgba(167, 172, 209, 0.315) 39.49%, rgba(217, 217, 217, 0.263657) 61.68%, rgba(217, 217, 217, 0.175) 100%);
  border: 0.5px solid #DCDCE7;
  box-shadow: 0px 0px 118.889px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(74.3055px);
  margin-bottom: 10px;
  margin-top: 20px;
  margin-inline: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 420px;
}

.text-conatiner-events {
  height: 118px;
  overflow: auto;
}

.events-card-header {
  padding-bottom: 10px;
}

.events-card-heading-text {
  font-size: 2em;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.events-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-card-body-text {
  font-size: 0.8em;
  font-weight: 500;
  color: #FFFFFF;
}

.events-card-footer {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.button-text {
  font-size: 1.2em;
  margin: 5px;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

.footer {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  padding-left: 45px;
}

.edit-page-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-inline: 10px;
  background: linear-gradient(224.52deg, #0B0454 1.63%, #7E10B3 70.6%, rgba(130, 16, 176, 0.88) 90.31%, rgba(162, 17, 156, 0.82) 101.2%);
}

.heading {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  padding: 4px;
  margin: 5px;
  color: #ffffff;
}

.fields-container {
  background: radial-gradient(96.72% 334.15% at 3.28% 4.06%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  width: 95%;
  border-style: solid;
  border-width: 0.01px;
  border-color: #000000;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 1092px) {
  .fields-container {
    background: radial-gradient(96.72% 334.15% at 3.28% 4.06%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 95%;
    border-style: solid;
    border-width: 0.01px;
    border-color: #000000;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  max-width: 30%;

}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.image-preview {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.select-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left {
  padding-top: 15px;
  min-width: 70%;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left input[type="text"],
[type="date"], [type="number"] {
  background-color: rgba(198, 177, 211, 0.48);
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
  min-width: 90%;
}

.container-left #vertical-select, #participation {
  background-color: rgba(198, 177, 211, 0.48);
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
  min-width: 90%;
}

.field-group {
  flex-grow: 10;
}

.field-group-fee {
  flex-shrink: 2;
}

.edit-first-row {
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1092px) {
  .edit-first-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
}


.input-labels {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.edit-desc {
  min-width: 95%;
}

#add-new-desc {
  background-color: rgba(198, 177, 211, 0.48);
  font-size: 1em;
  margin-bottom: 10px;
}

.confirm {
  margin-top: 10px;
}