.App {
  text-align: center;
  background: linear-gradient(224.52deg, #0B0454 1.63%, #7E10B3 70.6%, rgba(130, 16, 176, 0.88) 90.31%, rgba(162, 17, 156, 0.82) 101.2%);
  /* height: 100vh; */
}
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
  font-family: Rubik;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

.container-ex::before{
    content: '';
    background-color: #000;
}
.container-ex{
  width: 100vw;
  background-color: #000;
}

.first-box{
  background-color: #0f044c;
  height: fit-content;
}

.second-box{
  background-color: #0f044c;
  height: 60vh;

}

.third-box{
  background-color: #787A91;
  height: fit-content;
}

.fourth-box{
  background-color: #787A91;
  height: fit-content;
  margin-top: 0px;
}

.content2{
  background-color: #787A91;
  color: #EEEEEE;
}

.content2 p{
  padding: 8vh;
  text-align: justify;
  font-size: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.content1 p{
  padding: 8vh;
  text-align: justify;
  font-size: 3vh;
  color: #EEEEEE;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* .App{
  content: '';
    background-image: url('../src/images/i4.png');
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-size: cover;
    opacity: 0.65;
}

.title{
    text-align: center;
    padding-top: 25px;
    color: #0F044C;
    font-size: 25px;
}

.title1{
    text-align: center;
    padding-top: 100px;
    color: #0F044C;
    font-size: 25px;
}

.btn-box{
    margin: auto;
    width: fit-content;
}

.btn{
    text-align: center;
    margin-top: 25px;
    border-radius: 27px;
    font-size: 23px;
    background-color: #141E61;
    color: #eeeeee;
    border: 1px solid #eeeeee;
    width: 148px;
    height: 45px;
    cursor: pointer;
}

.about{
    width: 93vh;
    margin: auto;
    display: flex;
    margin-top: 14vh;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3vh;
    border-radius: 10px;
    background-color: #f0ffff91;
    opacity: 0.6;
    font-weight: 600;
}
**/

.about-ex h3{
    padding-bottom: 32px;
    text-align: center;
    font-size: 35px;
    color: #fff;
    width: 600px;
    text-decoration: underline;
}

.about-ex p{
    text-align: justify;
    font-size: 25px;
    color: #eeeeee;
    /* padding-left: 50px; */
    width: 80vw;
    padding-top: 5vh;
    color: #fff;
    padding-left: 5vw;
    /* font-family: 'Noto Sans Mono', monospace; */
}

.intro-img{
    display: inline-block;
    margin-top: 50px;
    margin-left: 16vh;
}

.i1{
    width: 500px;
    height: 100%;
}

.i3{
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.pe-content, .ce-content {
    display: grid;
    grid-template-columns: repeat(3, 50vh);
    row-gap: 10vh;
    column-gap: 10vh;
    justify-content: center;
    padding-bottom: 10vh;
    margin-top: 10vh;
}

.wrapper-parent{
    overflow: hidden;
}
.pe-firstbox, .ce-firstbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}

.caption1 {
    background-color: #0F044C;
    height: 3vh;
    color: white;
    width: 10vh;
    text-align: center;
    border-radius: 8px;
    font-family: 'Noto Sans Mono', monospace;
/* font-family: 'Ubuntu', sans-serif; */

}

.caption2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.405);
    width: 45vh;
    height: 3vh;
    line-height: 3vh;
    text-align: center;
     font-family: 'Noto Sans Mono', monospace;
     /* font-weight: 500; */
     font-size: 2.3vh;
/* font-family: 'Ubuntu', sans-serif; */

}

.main-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vh;
    height: 8vh;
}


.Wrapper{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width:100%; 
    height:300px;
}

.Wrapper:hover .Content{
    background-color:rgba(46, 46, 37, 0.7); 
    width:100%;
    transition: ease-in;
    animation-name: bgIn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-y: scroll;
    height: fit-content;
}

@keyframes bgIn {
    0% {
        height: 0%;
    }
    
    100% {
        height: 120%;
    }
}

.img-text {
    position: relative;
    color: transparent;
    width: 100%;
    height: fit-content;
    text-align: justify;
    padding: 6px;
    /* font-family: 'Noto Sans Mono', monospace; */
font-family: 'Ubuntu', sans-serif;

}
.img-text p{
  height: fit-content;
  padding-bottom: 10vh;
}

.Wrapper:hover .img-text {
    color: white;
    transition: 0.8s;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  background: linear-gradient(224.52deg, #0B0454 1.63%, #7E10B3 70.6%, rgba(130, 16, 176, 0.88) 90.31%, rgba(162, 17, 156, 0.82) 101.2%);
  min-height: 100vh;
} */

.and{
  color: #787A91;
  font-size: larger;
}

.seminar{
  color: #EEEEEE;
  font-size: larger;
}

.headers{
  color: #3b4abf;
  font-size: 9vh;
}

.title-ex{
  margin: auto;
  width: fit-content;
  color: #FFFFFF;
  padding-top: 5vh;
}
.title-ex h1{
  font-size: 6vw;
}

.title-ex-small h1{
  font-size: 4vw;
  margin: auto;
  color: #fff;
}
.title-ex-small{
  margin: auto;
  width: fit-content;
}
.title1{
  margin: auto;
  width: fit-content;
  color: #fff;
}

.partners_logo{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.workshop_pics{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.exhibition_pics{
  padding: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.partners_logo img{
height: 30vh;
box-shadow: 1px 1px 15px rgb(189, 189, 189);
padding: 10px;
border-radius: 3% / 40px;
}

.workshop_pics img{
height: 43vh;
box-shadow: 1px 1px 8px rgb(230, 225, 225);
padding: 10px;
border-radius: 1vh;
}

.exhibition_pics img{
height: 43vh;
box-shadow: 1px 1px 8px rgb(230, 225, 225);
padding: 10px;
border-radius: 1vh;
}

.i1{
  width: 470px;

}

.envelope_parent{
  height: 163.5vh;
  overflow: hidden;
	background-color: #0f044c;
}

.envelope{
  --i: 30px;
  width: 42%;
  min-height: 30vh;
  height: 100vh;
  /* background-color: #EEEEEE; */
  border: 4px solid #fff;
  background-color: #141E61;
  margin-top: 80px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */ 

.Wrapper:hover .hover-text{
    color: #EEEEEE;
    text-shadow: 1px 1px 3px white;
    /* font-style: italic; */
    /* font-family: 'Noto Sans Mono', monospace; */
}

.hover-text{
  text-align: left !important;
}

.pe-secondbox, .ce-secondbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}

.pe-thirdbox, .ce-thirdbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}


.pe-fourthbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}

.pe-fifthbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}

.pe-sixthbox{
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    height:max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0ffff59;
    
    border: 2px solid black;
}

#first {
    background:url(../src/Images/i3.png); 
}

#second {
    background: url(../src/Images/i4.png);
}

#third {
    background: url(../src/Images/i7.png);
}

#fourth {
    background: url(../src/Images/i6.png);
}

#fifth {
    background: url(../src/Images/i8.png);
}

#sixth {
    background: url(../src/Images/i7.png);
}

@media screen and (max-width : 1200px){
    /* .btn-box{
        margin: auto;
        margin-left: 71vh;
    } */

    .about{
        width: 100vh;
    margin: auto;
    /* margin-bottom: 5vh; */
    display: flex;
    margin-top: 14vh;
    /* margin-left: 9vh; */
    height: -moz-fit-content;
    height: fit-content;
    padding: 3vh;
    border-radius: 10px;
    background-color: #f0ffff91;
    opacity: 0.6;
    font-weight: 600;
    }

    .container-ex::before{
        /* content: '';
    background-image: url(http://localhost:3000/static/media/i2.60e1a55….png);
    position: fixed;
    top: 0;
    z-index: -1; */
    height: 181vh;
    width: 100%;
    /* background-size: cover;
    opacity: 0.65; */
    }

    .pe-content, .ce-content {
        display: grid;
        grid-template-columns: repeat(2, 55vh);
        row-gap: 10vh;
        column-gap: 10vh;
        justify-content: center;
        margin-right: 2vh;
    }

    .caption2 {
        color: white;
        background-color: rgba(0, 0, 0, 0.405);
        width: 50vh;
        height: 3vh;
        line-height: 3vh;
        text-align: center;
         font-family: 'Noto Sans Mono', monospace;
    /* font-family: 'Ubuntu', sans-serif; */
    
    }

    .Wrapper{
        background-size: cover;
        width:auto; 
        height:55vh;
    }
}
@media screen and (max-width : 900px){
    /* .btn-box{
        margin: auto;
        margin-left: 14vh;
    } */

    .about{
        width: 43vh;
    margin: auto;
    /* margin-bottom: 5vh; */
    display: flex;
    margin-top: 14vh;
    /* margin-left: 9vh; */
    height: -moz-fit-content;
    height: fit-content;
    padding: 3vh;
    border-radius: 10px;
    background-color: #f0ffff91;
    opacity: 0.6;
    font-weight: 600;
    }

    .container-ex::before{
        /* content: '';
    background-image: url(http://localhost:3000/static/media/i2.60e1a55….png);
    position: fixed;
    top: 0;
    z-index: -1; */
    height: 181vh;
    width: 100%;
    /* background-size: cover;
    opacity: 0.65; */
    }

    .pe-content, .ce-content {
        display: grid;
        grid-template-columns: repeat(1, 40vh);
        row-gap: 10vh;
        column-gap: 10vh;
        justify-content: center;
        margin-right: 2vh;
    }

    .caption2 {
        color: white;
        background-color: rgba(0, 0, 0, 0.405);
        width: 37vh;
        height: 3vh;
        line-height: 3vh;
        text-align: center;
         font-family: 'Noto Sans Mono', monospace;
    /* font-family: 'Ubuntu', sans-serif; */
    
    }

    .Wrapper{
        background-size: cover;
        width:auto; 
        height:37vh;
    }
}
@media screen and (max-width : 400px){
    /* .btn-box{
        margin: auto;
        margin-left: 14vh;
    } */

    .about{
        width: 43vh;
    margin: auto;
    /* margin-bottom: 5vh; */
    display: flex;
    margin-top: 4vh;
    /* margin-left: 9vh; */
    height: -moz-fit-content;
    height: fit-content;
    padding: 3vh;
    border-radius: 10px;
    background-color: #f0ffff91;
    opacity: 0.6;
    font-weight: 600;
    }

    .container-ex::before{
        /* content: '';
    background-image: url(http://localhost:3000/static/media/i2.60e1a55….png);
    position: fixed;
    top: 0;
    z-index: -1; */
    height: 181vh;
    width: 100%;
    /* background-size: cover;
    opacity: 0.65; */
    }

    .pe-content, .ce-content {
        display: grid;
        grid-template-columns: repeat(1, 40vh);
        row-gap: 10vh;
        column-gap: 10vh;
        justify-content: center;
        margin-right: 2vh;
    }

    .caption2 {
        color: white;
        background-color: rgba(0, 0, 0, 0.405);
        width: 37vh;
        height: 3vh;
        line-height: 3vh;
        text-align: center;
         font-family: 'Noto Sans Mono', monospace;
    /* font-family: 'Ubuntu', sans-serif; */
    
    }

    .Wrapper{
        background-size: cover;
        width:auto; 
        height:37vh;
    }
}

.envelope::before{
  content: 'SHAASTRA 2023';
  min-height: 50vh;
  height: 50vh;
  text-align: center;
  padding: 40px 0px;
  width: 100%;
  position: absolute;
  top: 48.5%;
  border: 4px solid #fff;
  /* background-color: #EEEEEE; */
  background-color: #141E61;
  z-index: 3;
  color: #EEEEEE;
  font-size: 9vh;
  line-height: 50vh;
}

.card1, .card2, .card3, .card4{
  --i: 30px;
  background: linear-gradient(150deg, #EEEEEE,#EEEEEE, #787A91, #EEEEEE);
  color: #000;
  min-height: 50vh;
  height: fit-content;
  width: 40vw;
  padding: 30px;
  border: 2px solid rgb(255, 247, 225);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  text-align: justify;
  transition: all 1.5s ease-in-out 0.2s;
}

.card1{
  transform: translateY(calc(var(--i)*(13)))
}
.card2{
  transform: translateY(calc(var(--i)*(4)));
}
.card3{
  transform: translateY(calc(var(--i)*(-5)));
}
.card4{
  transform: translateY(calc(var(--i)*(-14)));
}

.card1:hover{
  transform: translateY(calc(var(--i)*(9)));
}

.card2:hover{
  transform: translateY(calc(var(--i)*(-1)));
}

.card3:hover{
  transform: translateY(calc(var(--i)*(-10)));
}

.card4:hover{
  transform: translateY(calc(var(--i)*(-21)));
}

@media screen and (max-width : 1200px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: row;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: row;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: row;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
@media screen and (max-width : 900px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: column;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: column;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: column;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
@media screen and (max-width : 400px) {

  .first-box{
    width: 100%;
  }

  .content2{
    width: 100%;
  }

  .second-box{
    width: 100%;
    height: fit-content;
  }

  .partners_logo{
    flex-direction: column;
  }

  .third-box, .fourth-box{
    width: 100%;
  }

  .workshop_pics{
    flex-direction: column;
    
  }

  .seminar{
    font-size: revert;
  }
  
  .envelope_parent{
    width: 100%;
  }

  .headers{
    font-size: 5vh;
  }

  .content1 p, .content2 p{
    padding: 4vh;
  }

  .i1{
    height: auto;
    width: -webkit-fill-available;
  }

  .partners_logo img{
    height: 16vh;
  }

  .workshop_pics img{
    height: 30vh;
  }

  .exhibition_pics{
    flex-direction: column;
  }

  .exhibition_pics img{
    height: 32vh;
  }

  .envelope{
    width: 90%;
  }

  .envelope::before{
    font-size: 5vh;
  }

  .card1, .card2, .card3, .card4{
    width: 80vw;
    padding: 20px;
    --i : 35px; 
  }
}
/* body 
{
  background-repeat: no-repeat;
  background-color: #103EB3;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
} */
.workshops-landing{
  height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}
.wstitle
{
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
text-align: center;
font-size: 15vh;
margin-top: 40vh;

color: #FFFFFF;
}

.select-events{
  margin-top: 4vh;
  width: 25vw;
  margin-left: 4vw;
  margin-bottom: 4vh;
  padding: 0.5vw;
}

     
.explore
{
   
    color:#FEF1F1;
    background-color: transparent;
    margin-left: auto;
    border-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;
    font-size: 2vw;
}


/* .glassmorphic2
{
  box-sizing: border-box;
  width: 70vw;
  height: fit-content;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 15vw;
  background: linear-gradient(117.5deg, rgba(255, 255, 255, 0.15) -69.92%, rgba(255, 255, 255, 0.17) -69.92%, rgba(255, 255, 255, 0.21) -69.9%, rgba(255, 255, 255, 0.13) -48.83%, rgba(255, 255, 255, 0.09) 82.65%);
  box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  
  /* border-radius: 2vh;
  
}  */


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2vw;
    margin-right: 2vw;
    gap: 2vh;
    overflow: hidden;

}
.workshops-landing .card 
{
  box-sizing: border-box;
  color: whitesmoke;
  
  background: linear-gradient(117.5deg, rgba(255, 255, 255, 0.15) -69.92%, rgba(255, 255, 255, 0.17) -69.92%, rgba(255, 255, 255, 0.21) -69.9%, rgba(255, 255, 255, 0.13) -48.83%, rgba(255, 255, 255, 0.09) 82.65%);
  box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
  backdrop-filter: blur(40px);
 

}

.workshops-landing .cardButtonsContainer{
  display: flex;
  justify-content: space-between;
}

.glassmorphic2 .card-text{
  width: 20vw !important;
}
.glassmorphic2 .modal-content p, .close-ws-btn{
  width: 20vw !important;
}
.ws-modal-p{
  width: 50vw;
}
.close-ws-btn{
  margin-left: 0;
}
.modal-footer{
  width: fit-content;
}
.cardButtonsContainer .register{
  width: 10vw;
}
.cardKnowMoreButton{
  background-color: transparent;
  color: white;
  border: transparent;
  width: 10vw;
  margin-right: 2vw;
}
.cardKnowMoreButton :hover{
  background-color: none;
}

.nextIcon{
  max-width: 20px !important;
  margin-left: 10px !important;
}
 .card-img-top{
  width:100%;
  height:auto;
}


/* .cardButtonsContainer :hover{
  background-color: purple;
} */
.modal-content{
  background-color: #1263D6 ;
  color: white;
}
/* .btn-primary{
  background-color: purple;
} */
/* .register {
  background-color: white;
  color: purple;
} */

@media screen and (max-width: 450px) {
  .wstitle{
    font-size: 10vh;
    margin-left: 9vh;
  }
  .card{
    width: max-content;
    margin-bottom: 5vh;
  }
  .glassmorphic2{
    width: fit-content;
      }
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .title-ex h1{
    font-size: 13vw;
  }
  .about-ex p{
    font-size: 5vw;
    width: 80vw;
    margin: auto;
    padding-left: 0%;
  }
  .title1, .title-ex-small h1{
    margin: auto;
    width: 70vw;
    text-align: center;
    font-size: 2.5rem;
  }
}


.password-alert {
  margin-bottom: 20px;
  color: white;
}

#log-out {
  margin-top: 20px;
}

#forgot-pwd {
  margin-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

#forgot-pwd:hover {
  color: yellow;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #forgot-pwd {
      margin-bottom: 9.6px;
      color: white;
      font-weight: 400;
    }
  #forgot-pwd:hover {
    color: yellow;
    cursor: pointer;
  }
}

h2 {
  color: white;
}

.password-alert {
  margin-bottom: 20px;
  color: white;
}

#log-out {
  margin-top: 20px;
}

#forgot-pwd {
  margin-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

#forgot-pwd:hover {
  color: yellow;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #forgot-pwd {
      margin-bottom: 9.6px;
      color: white;
      font-weight: 400;
    }
  #forgot-pwd:hover {
    color: yellow;
    cursor: pointer;
  }
}

h2 {
  color: white;
}

@font-face {
  font-family: 'PT Sans';
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap')
}

.container-blur {
  left: 0;
  top: 0;
  box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
  backdrop-filter: blur(20px);
  width: 100%;
}

.navbar-overlay-container {
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.6;
}

.navbar-container {
  width: 100%;
  background: linear-gradient(165.87deg, rgba(255, 255, 255, 0.13) -40.71%, rgba(255, 255, 255, 0.21) -40.7%, rgba(255, 255, 255, 0.201935) 0.18%, rgba(255, 255, 255, 0.17) 0.19%, rgba(255, 255, 255, 0.12) 119.51%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  padding: 10px;
}

.navbar-font {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  mix-blend-mode: overlay;
  color: #FFFFFF;
  margin: 0px;
}

.navbar-events {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  justify-content: space-around;
  padding-inline: 30px;
}

.navbar-image-container {
  margin-inline: 25px;
  margin-right: 90px;
}

.navbar-hamburger-container {
  margin-inline: 25px;
  margin-left: 80px;
  margin-right: 25px;
  mix-blend-mode: overlay;
}

@media screen and (max-width: 1232px) {
  .navbar-container {
    width: 100%;
    background: linear-gradient(165.87deg, rgba(255, 255, 255, 0.13) -40.71%, rgba(255, 255, 255, 0.21) -40.7%, rgba(255, 255, 255, 0.201935) 0.18%, rgba(255, 255, 255, 0.17) 0.19%, rgba(255, 255, 255, 0.12) 119.51%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    padding: 10px;
    flex-direction: column;
  }

  .navbar-events {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    justify-content: space-around;
  }

  .navbar-image-container {
    margin-inline: 25px;
  }

  .navbar-hamburger-container {
    margin-inline: 25px;
    mix-blend-mode: overlay;
  }
}

.second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (max-width: 400px) {
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .events-workshops-filter {
    border-color: #cdcdcd;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .add-event-container {
    background: radial-gradient(95.22% 1377.16% at 4.78% 18.18%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0.5) 100%);
    border-color: #FFFFFF;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px; 
  }

  .third-row-buttons {
    align-self: center;
  }
}

.events-workshops-filter {
  margin-left: 20px;
  border-color: #cdcdcd;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-filter-text {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}

.add-event-container {
  background: radial-gradient(95.22% 1377.16% at 4.78% 18.18%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0.5) 100%);
  margin-inline: 20px;
  border-color: #FFFFFF;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-event {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
}

.add-event-container:hover {
  background-color: yellowgreen;
  cursor: pointer;
}

.events-workshops-filter:hover {
  color: #000000;
  background-color: #cdcdcd;
}

.main-filter-text:hover {
  color: #000000;
}

.third-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (max-width: 579px) {
  .third-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .sub-filter {
    margin-right: 20px;
    border-color: #cdcdcd;
    border-radius: 10.63px;
    border-style: solid;
    border-width: 1.5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}

.search-container {
  background-color: #FFFFFF;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  flex-grow: 2;
  margin-right: 20px;
  padding: 1.5px;
  padding-inline: 15px;
  border-radius: 50px;
  font-size: 1.2em
}

#search {
  min-width: 90%;
  padding: 8px;
  align-self: flex-end;
}

input[type="text"] {
  outline: none;
  border: none;
}

.sub-filter {
  margin-right: 20px;
  border-color: #cdcdcd;
  border-radius: 10.63px;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-filter:hover {
  background-color: #cdcdcd;
}

.item-grid {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  grid-template-columns: repeat(3, minmax(98px, 1fr));
}

@media screen and (max-width: 1092px) {
  .item-grid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    grid-template-columns: repeat(2, minmax(98px, 1fr));
  }
}

@media screen and (max-width: 1092px) {
  .item-grid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, minmax(98px, 1fr));
  }
}

.events-card {
  background: radial-gradient(97.44% 7345.3% at 1.07% 9.27%, rgba(217, 217, 217, 0.35) 0%, rgba(167, 172, 209, 0.315) 39.49%, rgba(217, 217, 217, 0.263657) 61.68%, rgba(217, 217, 217, 0.175) 100%);
  border: 0.5px solid #DCDCE7;
  box-shadow: 0px 0px 118.889px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(74.3055px);
  margin-bottom: 10px;
  margin-top: 20px;
  margin-inline: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 420px;
}

.text-conatiner-events {
  height: 118px;
  overflow: auto;
}

.events-card-header {
  padding-bottom: 10px;
}

.events-card-heading-text {
  font-size: 2em;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.events-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-card-body-text {
  font-size: 0.8em;
  font-weight: 500;
  color: #FFFFFF;
}

.events-card-footer {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.button-text {
  font-size: 1.2em;
  margin: 5px;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

.footer {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  padding-left: 45px;
}

.edit-page-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-inline: 10px;
  background: linear-gradient(224.52deg, #0B0454 1.63%, #7E10B3 70.6%, rgba(130, 16, 176, 0.88) 90.31%, rgba(162, 17, 156, 0.82) 101.2%);
}

.heading {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  padding: 4px;
  margin: 5px;
  color: #ffffff;
}

.fields-container {
  background: radial-gradient(96.72% 334.15% at 3.28% 4.06%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  width: 95%;
  border-style: solid;
  border-width: 0.01px;
  border-color: #000000;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 1092px) {
  .fields-container {
    background: radial-gradient(96.72% 334.15% at 3.28% 4.06%, rgba(217, 217, 217, 0.8) 0%, rgba(217, 217, 217, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 95%;
    border-style: solid;
    border-width: 0.01px;
    border-color: #000000;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  max-width: 30%;

}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.image-preview {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.select-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left {
  padding-top: 15px;
  min-width: 70%;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left input[type="text"],
[type="date"], [type="number"] {
  background-color: rgba(198, 177, 211, 0.48);
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
  min-width: 90%;
}

.container-left #vertical-select, #participation {
  background-color: rgba(198, 177, 211, 0.48);
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
  min-width: 90%;
}

.field-group {
  flex-grow: 10;
}

.field-group-fee {
  flex-shrink: 2;
}

.edit-first-row {
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1092px) {
  .edit-first-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
}


.input-labels {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.edit-desc {
  min-width: 95%;
}

#add-new-desc {
  background-color: rgba(198, 177, 211, 0.48);
  font-size: 1em;
  margin-bottom: 10px;
}

.confirm {
  margin-top: 10px;
}