/* {
    width: 100vw;
} */
body {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
}
html {
    height: 100vh;
    width: 100vw;
}

#signup {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    /* background: url(../public/meta-1\ 1.png) no-repeat center center fixed;
    box-shadow: inset 0 0 0 2000px rgb(123 30 101 / 61%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.signup-heading {
  height: 100px;
    width: 100%;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 1px;
    stroke: aliceblue !important;
    animation: dash 7.2s linear forwards, filling 3s ease-in forwards, infinite;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}
.signup-heading text {
    font-family: 'Rubik',sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.15em;
    width: fit-content;
    animation: pulse 2s  infinite;
    animation-delay: 4s;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		text-shadow: 0 0 10px #7E10B2,0 0 40px #7E10B2,0 0 80px #7E10B2 ;
	}

	70% {
		transform: scale(1);
		text-shadow: none;
	}

	100% {
		transform: scale(1);
		text-shadow: 0 0 10px #7E10B2,0 0 40px #7E10B2,0 0 80px #7E10B2 ;
	}
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: aliceblue; fill-opacity: 0; }
    100% { fill: aliceblue; fill-opacity: 1; }
  }

.signup_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2px;
    width: 85vw;
    height: 565px;
    animation: 9s fadeIn ease-in;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  visibility: hidden;
}
@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

.signup_form div {
    width: 100%;
}

.signup_form input {
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background: rgba(198, 177, 211, 0.9);
    margin-bottom: 1rem;
    border: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.2rem;
}

.type-3 {
    width: 48% !important;
}

.type-3-1 {
    margin-left: 0rem !important;
    margin-right: 3vw !important;
}

.login_form input {
    min-width: 317px;
    width: 30%;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background: rgba(198, 177, 211, 0.9);
    margin-bottom: 2rem;
    border: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.2rem;
}

::placeholder {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    /* padding-left: 1rem; */


/* input:focus,
button:focus {
    outline: none; */
}

.type-2 {
    width: 100%;
    margin: 20px;
    /* padding: 15px; */
    background-color:#5f4388;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Rubik', sans-serif;
    color: aliceblue;
    
    font-size: 1.2rem;
    transition: 0.5s;
}

.type-2:hover {
    background-color: aliceblue;
    transform: scale(110%);
    color: #182a35;
    box-shadow: 0 0 2px #bababa,0 0 5px #bababa,0 0 10px #bababa ;
}



/* #section center{
    height: 260px;
    display: flex;
    z-index: 1;
} */

.circle-wrapperAcc{
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: url(https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991322.jpg?w=1380&t=st=1671200102~exp=1671200702~hmac=2823a5d063e5cbeee1a2c20e252ba4d8a56dd8040a87d55a96c89b882bf329df) no-repeat center center fixed; */
    /* background: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg) no-repeat center center fixed; */
    /* background: url(./Images/471823.jpg) no-repeat center center fixed; */
    /* background-image: url(https://i.pinimg.com/originals/6c/db/2c/6cdb2cdc8cbd80788c34f831ef6b682c.gif); */
    /* background: url(https://i.pngimg.me/thumb/f/720/5452123026227200.jpg) no-repeat center center fixed; */
    /* background: url(./Images/bg\ signup.jpeg) no-repeat center center fixed; */
    background-color: black;
    background-size: cover;
    /* box-shadow: inset 0 0 0 2000px rgba(157, 117, 148, 0.452); */
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -999;
    top: 0;
}
.circleAcc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    user-select: none;
    /* filter: drop-shadow(0px 0px 3px white); */
  }


.circleAcc1 {
    border: 5px solid #7E10B2;
    filter: drop-shadow(0px 0px 3px #bd77de);
    animation: circleAcc1-motion 10s ease-in 1 forwards;
}
.circleAcc2 {
    border: 5px solid #02198B;
    filter: drop-shadow(0px 0px 3px #4a5fca);
    animation: circleAcc2-motion 10s ease-in 1 forwards;
}
.circleAcc3 {
    border: 5px solid #7E10B2;
    filter: drop-shadow(0px 0px 3px #bd77de);
    animation: circleAcc3-motion 10s ease-in 1 forwards;
}
.circleAcc4 {
    border: 5px solid #02198B;
    filter: drop-shadow(0px 0px 3px #4a5fca);
    animation: circleAcc4-motion 10s ease-in 1 forwards;
}
.circleAcc5 {
    border: 5px solid #7E10B2;
    filter: drop-shadow(0px 0px 3px #bd77de);
    animation: circleAcc5-motion 10s ease-in 1 forwards;
}
.circleAcc6 {
    border: 5px solid #02198B;
    filter: drop-shadow(0px 0px 3px #4a5fca);
    animation: circleAcc6-motion 10s ease-in 1 forwards;
}
.circleAcc7 {
    border: 5px solid #7E10B2;
    filter: drop-shadow(0px 0px 3px #bd77de);
    animation: circleAcc7-motion 10s ease-in 1 forwards;
}
.circleAcc8 {
  border: 5px solid #02198B;
  filter: drop-shadow(0px 0px 3px #4a5fca);
  animation: circleAcc8-motion 10s ease-in 1 forwards;
}
.circleAcc9 {
  border: 5px solid #7E10B2;
  filter: drop-shadow(0px 0px 3px #bd77de);
  animation: circleAcc9-motion 10s ease-in 1 forwards;
}
.circleAcc10 {
  border: 5px solid #02198B;
  filter: drop-shadow(0px 0px 3px #4a5fca);
  animation: circleAcc10-motion 10s ease-in 1 forwards;
}
.circleAcc11 {
  border: 5px solid #7E10B2;
  filter: drop-shadow(0px 0px 3px #bd77de);
  animation: circleAcc11-motion 10s ease-in 1 forwards;
}
.circleAcc12 {
  border: 5px solid #02198B;
  filter: drop-shadow(0px 0px 3px #4a5fca);
  animation: circleAcc12-motion 10s ease-in 1 forwards;
}
@keyframes circleAcc1-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 650px; height: 650px; opacity: 1 }
    100% { width: 13000px; height: 13000px; opacity: 0;display: none;}
  }
@keyframes circleAcc2-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 600px; height: 600px; opacity: 1 }
    100% { width: 12000px; height: 12000px; opacity: 0;display: none; }
  }
@keyframes circleAcc3-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 550px; height: 550px; opacity: 1 }
    100% { width: 11000px; height: 11000px; opacity: 0;display: none; }
  }
@keyframes circleAcc4-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 500px; height: 500px; opacity: 1 }
    100% { width: 10000px; height: 10000px; opacity: 0;display: none; }
  }
@keyframes circleAcc5-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 450px; height: 450px; opacity: 1 }
    100% { width: 9000px; height: 9000px; opacity: 0 ;display: none;}
  }
@keyframes circleAcc6-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 400px; height: 400px; opacity: 1 }
    100% { width: 8000px; height: 8000px; opacity: 0;display: none; }
  }
@keyframes circleAcc7-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 350px; height: 350px; opacity: 1 }
    100% { width: 7000px; height: 7000px; opacity: 0;display: none; }
  }
@keyframes circleAcc8-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 300px; height: 300px; opacity: 1 }
    100% { width: 6000px; height: 6000px; opacity: 0 ;display: none;}
  }
@keyframes circleAcc9-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 250px; height: 250px; opacity: 1 }
    100% { width: 5000px; height: 5000px; opacity: 0 ;display: none;}
  }
@keyframes circleAcc10-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 200px; height: 200px; opacity: 1 }
    100% { width: 4000px; height: 4000px; opacity: 0;display: none; }
  }
@keyframes circleAcc11-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 150px; height: 150px; opacity: 1 }
    100% { width: 3000px; height: 3000px; opacity: 0;display: none; }
  }
@keyframes circleAcc12-motion {
    0% { width: 0; height: 0; opacity: 0 }
    56% { width: 100px; height: 100px; opacity: 1 }
    100% { width: 2000px; height: 2000px; opacity: 0;display: none; }
  }


@media (max-width:700px) {
    .signup_form input {
        font-size: 0.8rem;
        height: 3rem;
        border-radius: 10px;
        margin-bottom: 0.6rem;
    }

    .login_form input {
        font-size: 0.8rem;
        height: rem;
        border-radius: 10px;
        margin-bottom: 0.6rem;
    }
    .signup-heading {
      font-size: 35px;
    }
}
@media  (max-width: 500px) {
  .signup-heading {
    font-size: 28px;
  }
}
.center {
    height: 260px;
    display: flex;
    z-index: 999;
}

.type-2 {
    min-width: 317px;
    border-radius: 10px;
    color: #fff;
    height: 45px;
    width: 28%;
}