@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*,
*::before,
*::after {

    margin: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: Digital7;
    src: url(digital-7.ttf);
}


:root
{
    --glow-color: rgb(254, 40, 40);
    
}

/* body
{
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    
} */




.uni
{   position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    -webkit-vendor-prefix-perspective: 600px;
    -webkit-vendor-prefix-perspective-origin: 50%;
    overflow: hidden;
   
}







/*NEON Squares*/
.square-pack
{
    transform-style: preserve-3d;
    position: absolute;
    

}
.square
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}
.square div
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    border-width: 2vw;
    border-style: solid;
    opacity: 100%;
    animation: squarepulse 10s linear infinite;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #f008e9,
      0 0 40px #f008e9,
      0 0 80px #f008e9,
      0 0 90px #9124c2,
      0 0 100px #9124c2,
      0 0 150px #9124c2;

    
    transform-style: preserve-3d;
    
}

@keyframes squarepulse 
{
    0%{transform: scale(100%);}
    25%{transform: scale(105%);}
    50%{transform: scale(100%);}
    75%{transform: scale(97%);}
    100%{transform: scale(100%);}
}

.square:nth-child(1)
{    transform: translateZ(-50px);}
.square:nth-child(2)
{    transform: translateZ(-140px);}
.square:nth-child(3)
{    transform: translateZ(-200px);}
.square:nth-child(4)
{    transform: translateZ(-280px);}
.square:nth-child(5)
{    transform: translateZ(-380px);}
/* .square:nth-child(6)
{    transform: translateZ(-500px);}
.square:nth-child(7)
{    transform: translateZ(-640px);}
.square:nth-child(8)
{    transform: translateZ(-800px);}
.square:nth-child(9)
{    transform: translateZ(-980px);}
.square:nth-child(10)
{    transform: translateZ(-1180px);} */
/* .square:nth-child(11)
{    transform: translateZ(-1400px);}
.square:nth-child(12)
{    transform: translateZ(-1640px);}
.square:nth-child(13)
{    transform: translateZ(-1900px);}
.square:nth-child(14)
{    transform: translateZ(-2180px);}
.square:nth-child(15)
{    transform: translateZ(-2480px);}
.square:nth-child(16)
{    transform: translateZ(-2800px);}
.square:nth-child(17)
{    transform: translateZ(-3140px);}
.square:nth-child(18)
{    transform: translateZ(-3500px);}
.square:nth-child(19)
{    transform: translateZ(-3880px);}
.square:nth-child(20)
{    transform: translateZ(-4280px);} */



















/*SPIRAL SQUARES*/

.spiral
{
    transform-style: preserve-3d;
    position: absolute;
    
    

}

.spiral-sqr
{
    position: absolute;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;


    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #f008e9,
    0 0 40px #f008e9,
    0 0 80px #f008e9,
    0 0 90px #9124c2,
    0 0 100px #9124c2,
    0 0 150px #9124c2;
    
    
}
.spiral-sqr:nth-child(1)
{    transform: translateZ(-50px);}
.spiral-sqr:nth-child(2)
{    transform: translateZ(-70px);}
.spiral-sqr:nth-child(3)
{    transform: translateZ(-100px);}
.spiral-sqr:nth-child(4)
{    transform: translateZ(-140px);}
.spiral-sqr:nth-child(5)
{    transform: translateZ(-190px);}
.spiral-sqr:nth-child(6)
{    transform: translateZ(-250px);}
.spiral-sqr:nth-child(7)
{    transform: translateZ(-320px);}
.spiral-sqr:nth-child(8)
{    transform: translateZ(-400px);}
.spiral-sqr:nth-child(9)
{    transform: translateZ(-490px);}
.spiral-sqr:nth-child(10)
{    transform: translateZ(-590px);}
.spiral-sqr:nth-child(11)
{    transform: translateZ(-700px);}
.spiral-sqr:nth-child(12)
{    transform: translateZ(-820px);}
.spiral-sqr:nth-child(13)
{    transform: translateZ(-950px);}
.spiral-sqr:nth-child(14)
{    transform: translateZ(-1090px);}
.spiral-sqr:nth-child(15)
{    transform: translateZ(-1240px);}
.spiral-sqr:nth-child(16)
{    transform: translateZ(-1400px);}
.spiral-sqr:nth-child(17)
{    transform: translateZ(-1570px);}
.spiral-sqr:nth-child(18)
{    transform: translateZ(-1750px);}
.spiral-sqr:nth-child(19)
{    transform: translateZ(-1940px);}
.spiral-sqr:nth-child(20)
{    transform: translateZ(-2140px);}
.spiral-sqr:nth-child(21)
{    transform: translateZ(-2350px);}
/* .spiral-sqr:nth-child(22)
{    transform: translateZ(-2570px);}
.spiral-sqr:nth-child(23)
{    transform: translateZ(-2800px);}
.spiral-sqr:nth-child(24)
{    transform: translateZ(-3040px);}
.spiral-sqr:nth-child(25)
{    transform: translateZ(-3290px);}
.spiral-sqr:nth-child(26)
{    transform: translateZ(-3550px);} */
/* .spiral-sqr:nth-child(27)
{    transform: translateZ(-3820px);}
.spiral-sqr:nth-child(28)
{    transform: translateZ(-4100px);}
.spiral-sqr:nth-child(29)
{    transform: translateZ(-4390px);}
.spiral-sqr:nth-child(30)
{    transform: translateZ(-4690px);} */
/* .spiral-sqr:nth-child(31)
{    transform: translateZ(-5000px);}
.spiral-sqr:nth-child(32)
{    transform: translateZ(-5320px);}
.spiral-sqr:nth-child(33)
{    transform: translateZ(-5650px);}
.spiral-sqr:nth-child(34)
{    transform: translateZ(-5990px);} */
/* .spiral-sqr:nth-child(35)
{    transform: translateZ(-6340px);}
.spiral-sqr:nth-child(36)
{    transform: translateZ(-6700px);}
.spiral-sqr:nth-child(37)
{    transform: translateZ(-7070px);}
.spiral-sqr:nth-child(38)
{    transform: translateZ(-7450px);} */



.spiral-sqr div
{
    position: absolute;
    left: 50%;
    top: 5%;
    height: 50vw;
    width: 50vw;
    border-width: 1vw;
    border-style: solid;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f008e9,
      0 0 18px #f008e9,
      0 0 20px #f008e9,
      0 0 25px #9124c2,
      0 0 30px #9124c2,
      0 0 50px #9124c2;
    
    opacity: 100%;
    animation: spin 100s infinite;
    transform-style: preserve-3d;
  
}





@keyframes spin 
{
   from
    {
        transform: rotateZ(0);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}









/*NEON CIRCLES*/
.circle-pack
{
    transform-style: preserve-3d;
    position: absolute;
    

}
.circle
{
    position: absolute;
    height: 50vh;
    width: 50vw;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
left:25%;
top:0%;     

}
.circle div
{
    position: absolute;
    height: 50vw;
    width: 50vw;
    left: 50%;
    top: 5%;
    border-width: 2vw;
    border-style: solid;
    border-radius: 50%;
    opacity: 100%;
    animation: circlepulse 10s linear infinite;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #f008e9,
      0 0 40px #f008e9,
      0 0 80px #f008e9,
      0 0 90px #9124c2,
      0 0 100px #9124c2,
      0 0 150px #9124c2;

    
    transform-style: preserve-3d;
    
}

@keyframes circlepulse 
{
    0%{transform: scale(100%);}
    25%{transform: scale(105%);}
    50%{transform: scale(100%);}
    75%{transform: scale(97%);}
    100%{transform: scale(100%);}
}

.circle:nth-child(1)
{    transform: translateZ(-50px);}
.circle:nth-child(2)
{    transform: translateZ(-140px);}
.circle:nth-child(3)
{    transform: translateZ(-200px);}
.circle:nth-child(4)
{    transform: translateZ(-280px);}
.circle:nth-child(5)
{    transform: translateZ(-380px);}
.circle:nth-child(6)
{    transform: translateZ(-500px);}
.circle:nth-child(7)
{    transform: translateZ(-640px);}
.circle:nth-child(8)
{    transform: translateZ(-800px);}
.circle:nth-child(9)
{    transform: translateZ(-980px);}
.circle:nth-child(10)
{    transform: translateZ(-1180px);}
.circle:nth-child(11)
{    transform: translateZ(-1400px);}
.circle:nth-child(12)
{    transform: translateZ(-1640px);}
.circle:nth-child(13)
{    transform: translateZ(-1900px);}
.circle:nth-child(14)
{    transform: translateZ(-2180px);}
.circle:nth-child(15)
{    transform: translateZ(-2480px);}
.circle:nth-child(16)
{    transform: translateZ(-2800px);}
.circle:nth-child(17)
{    transform: translateZ(-3140px);}
.circle:nth-child(18)
{    transform: translateZ(-3500px);}
.circle:nth-child(19)
{    transform: translateZ(-3880px);}
.circle:nth-child(20)
{    transform: translateZ(-4280px);}




/*NEON COUNTDOWN*/
.countdown
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}
.countdown-box
{
    position: absolute;
    height: 40vw;
    width: 100vw;
    
    /*border-width: 2vw;
    border-style: solid;
    */
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    overflow: hidden;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f008e9,
      0 0 18px #f008e9,
      0 0 20px #f008e9,
      0 0 25px #9124c2,
      0 0 30px #9124c2,
      0 0 50px #9124c2;
    
    transform-style: preserve-3d;
    
}
.countdown-box::before
{
    content: '';
    position: absolute;
    height: 120vw;
    width: 120vw;
    left: -10vw;
    top: -40vw;
    

    
    background-image: conic-gradient(
        rgb(255, 0, 157) 0deg,
        
        transparent 180deg,
        rgb(255, 0, 157) 180deg,
        
        transparent 360deg
        
    );
    
    opacity: 100%;
    
    transform-style: preserve-3d;
    animation: countdownrotate 5s linear infinite;
    
    
}

@keyframes countdownrotate
{
    0%
    {
        transform: rotate(90deg);
    }
    100%
    {
        transform: rotate(-270deg);
    }
}



.countdown-box::after
{
    content: '';
    position: absolute;
    height: fill;
    width: fill;
    
    background-color: rgb(26, 31, 34);
    inset: 1vw;
    border-radius: 1vw;
    opacity: 100%;
    transform-style: preserve-3d;
   
    
}


.countdown-box:nth-child(1)::before
{
    animation-delay: -1s;
}
.countdown-box:nth-child(2)::before
{
    animation-delay: -2s;
}
.countdown-box:nth-child(3)::before
{
    animation-delay: -3s;
}

.timer
{
    height: fit-content;
    width: fit-content;
    z-index: 1;
    font-size: 20vw;
    font-family: 'Digital7', sans-serif;
    
    color: aqua;
    letter-spacing: 0.2em;
    

}

.control-btns
{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.forward-btn
{
    opacity: 0.3;
    height: 90vh;
    width: 100%;
    
}


 .back-btn {

    position: absolute;
    color: #db3eb1;
    border: 3px solid #db3eb1;
    display: flex;
    border-radius:15px;
    text-align: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 3vh;
    font-size: 25px;
    font-family: Rubik;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: .5s;
    height: 6vh;
    width: 6vw;
  }
  
  .back-btn:hover {
    color: white;
    padding: auto;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }
.text-phrase {
    background: transparent;
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: 10px;
    z-index: 20;
    width: 150px;
    height: auto !important;
    align-items: center !important;
    background: linear-gradient(135deg,#c22222, #9124c2, #1b007f );;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow:
    3px 3px 3px #ffcf31a2,
    6px 6px 6px #ffcf3192; */
}

.text-phrase::before {
     background: inherit;
    filter: blur(25px);
    transform: translateY(30px) scale(0.9);
}

.text-phrase h3{

    text-align: center;
    font-size: 20px;
    width:auto;
    color: #fff9f9;
    font-family: Rubik,sans-serif;
    font-weight: 500;
    padding: 10px;
}

.tap-phrase {
    background: transparent;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    width:auto;
    color: #fff9f9;
    font-family: Rubik,sans-serif;
    font-weight: 500;
    z-index: 20;
}







/* SHAASTRA LOGO */

.logo-landing
{
    height: 100vh;
    width: 100vw !important;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: black;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.2em;
    transform: translateZ(0);
    margin-left: 5vw;
    
}




/*BLACK SCREEN*/
.black-screen-wrapper
{
    position: absolute;
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-screen
{
    
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
    background-color: rgb(131, 131, 131);
    
    
}

.dummy
{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #d9d9d9;
}
























/*BG STARS*/
.uni {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    height: 100vh;
    width: 100vw;
    background:radial-gradient( black) ;
    font-size: 50px;
    perspective: 180px;
    perspective-origin: 50%;
    overflow: hidden;
}



@media only screen and (max-width: 1000px) {
    .square div, .spiral-sqr div, .circle div{
       width: 100vw;
       height: 150vh;
       top: 0%;
       left: 0%;

    }
    text-phrase {
        width: 85px;
    }
    .text-phrase {
    font-size: 15px;
    }
    .back-btn{
        margin-left: 3vh;
    margin-top: -35vh;
    height: 4vh;
    margin: 4vh;
    width: 9.5vw;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2.5vw;
    }
    @keyframes spin 
    {
       from
        {
            transform: rotateZ(90deg);
        }
        to
        {
            transform: rotateZ(450deg);
        }
    }
}

