.Card {
  width: 250px;
  height: 380px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  transition: 0.1s;
}
.Card .imageBox {
  width: 100%;
  height: 250px;
  overflow: hidden;
  /* cursor: none; */
  display: block;
  position: relative;
}
.Card .imageBox img {
  position: relative;
  top: 0;
  transition: 0.75s cubic-bezier(0.49, 1.51, 0, 0.98);
  transition-delay: 0.75s;
}
/*.Card:hover .imageBox img {
  top: -100%;
}
.Card .imageBox #cursor {
  position: absolute;
  height: 300px;
  min-width: 300px;
  object-fit: cover;
  transform: translate(-70%, -50%);
  transition: 0.5s ease-in-out;
}
.Card .imageBox:hover #cursor {
  transform: translate(-70%, -50%);
}
.Card .imageBox .profileDescription {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: 0.75s cubic-bezier(0.49, 1.51, 0, 0.98);
  transition-delay: 0.75s;
  background-color: rgb(29, 29, 29);
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.Card:hover .imageBox .profileDescription {
  top: -100%;
}
.Card .imageBox .profileDescription p {
  text-indent: 30px;
  position: relative;
  text-align: justify;
  height: 100%;
}
.Card .imageBox .profileDescription svg {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 0px;
  color: #fff6;
  transition: 0.5s ease;
  transition-delay: 1.5s;
}
.Card .imageBox .profileDescription svg:nth-of-type(2) {
  bottom: 15px;
  right: 15px;
  left: auto;
  top: auto;
}
.Card:hover .imageBox .profileDescription svg {
  font-size: 30px;
}
*/
.Card .profileCard {
  position: relative;
  width: 100%;
  height: 130px;
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Card .profileCard::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #7e10b3;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  transition: 0.75s cubic-bezier(1, -0.88, 0, 1.41);
}
.Card .profileCard div {
  z-index: 3;
  transition: 0.75s;
}
.Card:hover .profileCard::before {
  height: 130px;
}
.Card:hover .profileCard div {
  color: #fff;
}
.Card .profileCard div h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
.Card .profileCard div p {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}
